.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
  vertical-align: top;
}
table,
input,
textarea {
  width: 100%;
  font-size: 25px;
}
label {
  font-size: 20px;
  text-transform: uppercase;
}
input[type="checkbox"] {
  width: inherit;
}
input[type="submit"] {
  background-color: #065471;
  border: 5px solid #FFC045;
  color: #FFC045;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
}
