main img {
  width: 270px;
  height: 155px;
}
#Foto1 {
  float: left;
}
#Foto2 {
  float: right;
}
article {
  margin: 10px 0;
}
article h3 {
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
}
